%h1 Listing locations
%table
	%thead
		%tr
			%th City
			%th State
			%th When
	%tbody
		- @locations.each do |t|
			%tr
				%br
				%br
				%td= t.city
				%td= t.state
				- t.wildfires.each do |a|
					%tr
						%td
						%td
						%td= a.start_date